.chat-main__chatspace__field
  .chat-main__chatspace__field__info
    .chat-main__chatspace__field__info__name
      = message.user.name
    .chat-main__chatspace__field__info__date
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .message
    - if message.body.present?
      %p.Message__content
        = message.body
    = image_tag message.image.url, class: 'Message__image' if message.image.present?